	<footer class="footer-bottom">
		<nav class="container">
			<div class="navbar navbar-bottom navbar-inverse">
				<div class="navbar-inner">
					<div class="container">
						<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
						<!-- Be sure to leave the brand out there if you want it shown -->
						<a class="brand" href="#">Pracipio &copy; 2012 All rights reserved</a>
						<div class="nav-collapse pull-right">

							<ul class="nav">
								<li class="active">
								<a href="index">Welcome</a>
								</li>
								<!--li><a href="how_we_help">How we help</a></li>
								<li><a href="thoughtworthy">ThoughtWorthy</a></li>
								<li><a href="about">About Us</a></li-->
								<li><a href="contact">Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div> <!-- /navbar -->	
			<div class="scroll-top">
				<a rel="tooltip" data-original-title="Back to top" class="websymbols">:</a>
			</div>
		</nav> <!-- /container -->	
	</footer> <!-- /footer.footer-bottom -->

	

	
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--script src="assets/js/jquery.js"></script-->
    <script src="assets/js/bootstrap.min.js"></script>
    
    <script src="assets/js/jquery.tweet.js"></script>
	<script src="assets/js/jquery.refineslide.min.js"></script>
	<script src="assets/js/jquery.flexslider-min.js"></script>
	<script src="assets/js/css-browser-selector.js"></script>
	<script src="assets/js/lightbox.js"></script>
	<script src="assets/js/jQuery.BlackAndWhite.min.js"></script>
	<script src="assets/js/jquery.flickrush.js"></script>
	<script src="assets/js/script.js"></script>
</body>
</html>

