<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pracipio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<!-- Le fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css" media="all">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-responsive.css" media="all">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css" media="all">
	<link rel="stylesheet" type="text/css" href="assets/css/responsive-style.css" media="all">

     <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
	<![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

<body>
  <header class="main">
    <div class="container">
      <div class="row">
	<div class="span3">					
	  <!-- delete the class "text" if you want to put an image logo-->
	  <!--h1 class="logo text"><a href="index.php">Pra<span>cipio</span></a></h1-->
	  <h1 class="logo text"><a href="index.php">Pracipio</a></h1>
	</div><!-- /span3 -->
	<div class="span9">	
	  <nav  class="main-nav">
	    <ul class="dropdown dropdown-horizontal pull-right">
	      <li id="welcome_nav">
		<a href="index.php" class="dir">Welcome</a>
	      </li>
	      <!--li id="how_we_help_nav">
		<a href="how_we_help">How we help</a>
	      </li>
	      <li id="thoughtworthy_nav">
		<a class="dir" href="thoughtworthy">ThoughtWorthy</a>
	      </li>	
	      <li id="about_nav">
		<a href="about">About Us</a></li-->
	      <li id="contact_nav">
		<a href="contact">Contact</a></li>
	    </ul>	
	  </nav>
	</div>  <!-- /span9 -->
      </div> <!-- /row -->
    </div> <!-- /container -->	
  </header> <!-- /header.main -->
 <script src="assets/js/jquery.js"></script>
