<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ProNation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<!-- Le fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="all">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css" media="all">
	<link rel="stylesheet" type="text/css" href="css/style.css" media="all">
	<link rel="stylesheet" type="text/css" href="css/responsive-style.css" media="all">

     <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
	<![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
  </head>

<body>
    <header class="main">
		<div class="container">
			<div class="row">
				<div class="span3">					
					<!-- delete the class "text" if you want to put an image logo-->
					<h1 class="logo text"><a href="index.html">Pro <span>Nation</span></a></h1>
				</div><!-- /span3 -->
				<div class="span9">	
					<nav  class="main-nav">
						<ul class="dropdown dropdown-horizontal pull-right">
							<li class="active "><a href="index.html" class="dir">Home</a>
								<ul>
									<li><a href="refineslider.html">Refine Slider</a></li>
								</ul>
							</li>
							<li><a href="portofolio.html">Portofolio</a>
								<ul>
									<li><a href="portofolio.html">Three Colums</a></li>
									<li><a href="portofolio-full.html">Portofolio Item</a></li>
								</ul>
							</li>
							<li>
								<a class="dir" href="blog.html">Blog</a>
								<ul class="">
									<li><a href="blog.html">Blog</a></li>
									<li><a href="blog-full.html">Blog Post</a></li>
								</ul>
							</li>	
							<li><a href="about.html">About Us</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>	
					</nav>
				</div>  <!-- /span9 -->
			</div> <!-- /row -->
		</div> <!-- /container -->	
    </header> <!-- /header.main -->
	
	<section class="top">
		<div class="container">
			<div class="row">
				<div class="span9">
					<header>
						<h1>CHECK OUR <span>SPECIAL OFFERS</span></h1>
					</header>
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
				</div><!-- /span9 -->
				<div class="span3">
					<a class="btn btn-info btn-mega pull-right" href="#">Read more <i class="icon-chevron-right icon-white visible-desktop"></i></a>
				</div><!-- /span3 -->
			</div><!-- /row -->		  
		</div><!-- /container -->
	</section><!-- /top -->
	
	<section class="slider">
		<div class="container">
			<div id="myCarousel" class="carousel slide">
				<!-- Carousel items -->
				<div class="carousel-inner">
					<div class="active item">
						<img src="img/slider1.jpg" alt="" />
						<div class="carousel-caption light">
							<p>Vestibulum aliquam cursus lacinia. <a>Sed eget augue</a> arcu. Nulla faci.
							Aliquam congue, sit amet blandit <a>urna augue vitae.</a></p>
							<button class="btn btn-info pull-right">Check now  <i class=" icon-ok icon-white"></i></button>
						</div>
					</div>
					<div class="item">
						<img src="img/slider2.jpg" alt="" />
						<div class="carousel-caption dark">
							<p>Vestibulum aliquam cursus lacinia. <a>Sed eget augue</a> arcu. Nulla faci.
							Aliquam congue, sit amet blandit <a>urna augue vitae.</a></p>
							<button class="btn btn-info pull-right">Check now  <i class=" icon-ok icon-white"></i></button>
						</div>
					</div>
					<div class="item">
						<img src="img/slider3.jpg" alt="" />
						<div class="carousel-caption dark">
							<p>Vestibulum aliquam cursus lacinia. <a>Sed eget augue</a> arcu. Nulla faci.
							Aliquam congue, sit amet blandit <a>urna augue vitae.</a></p>
							<button class="btn btn-info pull-right">Check now  <i class=" icon-ok icon-white"></i></button>
						</div>
					</div>
					<div class="item">
						<img src="img/slider4.jpg" alt="" />
						<div class="carousel-caption dark">
							<p>Vestibulum aliquam cursus lacinia. <a>Sed eget augue</a> arcu. Nulla faci.
							Aliquam congue, sit amet blandit <a>urna augue vitae.</a></p>
							<button class="btn btn-info pull-right">Check now  <i class=" icon-ok icon-white"></i></button>
						</div>
					</div>
				</div>
				<!-- Carousel nav -->
				<a class="carousel-control left" href="#myCarousel" data-slide="prev"><</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">></a>
			</div> <!-- /#myCarousel -->
		</div><!-- /container  -->
	</section><!-- /section.slider  -->
	
	<section class="main-page">
		<div class="container">
			<ul class="breadcrumb">
				<li class="active">Home Page</li>
			</ul>
			<div class="row">
				<div class="span8">
					<section>
						<!-- delete the class 'header-bg-green' and the <span> if you want to delete the green lines in header backround -->
						<header class="main-header header-bg-green">
							<span></span>
							<h2>RECENT WORK</h2>
						</header><!-- main header -->
						<section class="recent-work">
							<div class="row">
								<div class="span4">
									<a class="thumbnail" rel="lightbox" title="my caption" href="img/recent-work1.jpg"><img src="img/recent-work1.jpg" alt="" /></a>			
								</div>
								<div class="span4">
									<article>
										<header>
										<h3><a href="#">Nullam fringilla nulla</a></h3>
										</header>
										<p class="meta">Submitted by<a href="#"> Joe Doe</a>, Jul 12 2012</p>
										<p>Nulla faci. Aliquam congue, massa ac rhonc, 
										sapien turpis sollicitud risus, sit amurna 
										augue diam. Nullam fringilla nulla.Pellentesq
										habitanmorbi tristique senectu. </p>
										<button class="btn btn-large btn-info pull-right">Read More</button>
									</article><!-- /article -->
								</div>	
							</div> <!-- /row -->
						</section> 
						<section class="recent-work last">
							<div class="row">
								<div class="span4">
									<a class="thumbnail"  rel="lightbox" title="my caption" href="img/recent-work2.jpg"><img src="img/recent-work2.jpg" alt="" /></a>
								</div>
								<div class="span4">
									<article>
										<header>
										<h3><a href="#">Nullam fringilla nulla</a></h3>
										</header>
										<p class="meta">Submitted by<a href="#"> Joe Doe</a>, Jul 12 2012</p>
										<p>Nulla faci. Aliquam congue, massa ac rhonc, 
										sapien turpis sollicitud risus, sit amurna 
										augue diam. Nullam fringilla nulla.Pellentesq
										habitanmorbi tristique senectu. </p>
										<button class="btn btn-large btn-info pull-right">Read More</button>
									</article> <!-- /article -->
								</div>	
							</div> <!-- /row -->
						</section> 
					</section> <!-- first-column -->
				</div> <!-- /span8 -->
				<div class="span4">
					<section class="news-slider">
						<!-- delete the class 'header-bg-green' and the <span> if you want to delete the green lines in header backround -->
						<header class="main-header header-bg-green">
							<span></span>
							<h2>recent news</h2>
						</header><!-- /main header -->
						<div class="flexslider">
							<!-- Carousel items -->
							<ul class="slides">
								<li>	
									<div class="news clearfix">
										<header>
												<h3><a href="">Nullam fringilla nulla</a></h3>
										</header>
										<div class=" date pull-left">31 <br> okt</div>
										<p>Feugiat vitae, ultricies eget, tempor sit amet, 
										ante. Donec eu libero sit amet quam egesta 
										semper.Aliquam congue.</p>
									</div><!-- /news -->
									<div class="news clearfix">
										<header>
												<h3><a href="">Nullam fringilla nulla</a></h3>
										</header>
										<div class=" date pull-left">27 <br> okt</div>
										<p>Feugiat vitae, ultricies eget, tempor sit amet, 
										ante. Donec eu libero sit amet quam egesta 
										semper.Aliquam congue.</p>
									</div><!-- /news -->
									<div class="news last clearfix">
										<header>
												<h3><a href="">Nullam fringilla nulla</a></h3>
										</header>
										<div class=" date pull-left">12 <br> okt</div>
										<p>Feugiat vitae, ultricies eget, tempor sit amet, 
										ante. Donec eu libero sit amet quam egesta 
										semper.Aliquam congue.</p>
									</div><!-- /news -->
								</li>
								<li>
									<div class="news clearfix">
										<header>
												<h3><a href="">Nullam fringilla nulla</a></h3>
										</header>
										<div class=" date pull-left">25 <br> sep</div>
										<p>Feugiat vitae, ultricies eget, tempor sit amet, 
										ante. Donec eu libero sit amet quam egesta 
										semper.</p>
									</div><!-- /news -->
									<div class="news clearfix">
										<header>
												<h3><a href="">Nullam fringilla nulla</a></h3>
										</header>
										<div class=" date pull-left">15 <br> sep</div>
										<p>Feugiat vitae, ultricies eget, tempor sit amet, 
										ante. Donec eu libero sit amet quam egesta 
										semper.</p>
									</div><!-- /news -->
									<div class="news last clearfix">
										<header>
												<h3><a href="">Nullam fringilla nulla</a></h3>
										</header>
										<div class=" date pull-left">10 <br> sep</div>
										<p>Feugiat vitae, ultricies eget, tempor sit amet, 
										ante. Donec eu libero sit amet quam egesta 
										semper.</p>
									</div><!-- /news -->
								</li>	
								<li>
									<div class="news clearfix">
										<header>
												<h3><a href="">Nullam fringilla nulla</a></h3>
										</header>
										<div class=" date pull-left">31 <br> aug</div>
										<p>Feugiat vitae, ultricies eget, tempor sit amet, 
										ante. Donec eu libero sit amet quam egesta 
										semper.</p>
									</div><!-- /news -->
									<div class="news clearfix">
										<header>
												<h3><a href="">Nullam fringilla nulla</a></h3>
										</header>
										<div class=" date pull-left">6 <br> jul</div>
										<p>Feugiat vitae, ultricies eget, tempor sit amet, 
										ante. Donec eu libero sit amet quam egesta 
										semper.</p>
									</div><!-- /news -->
									<div class="news last clearfix">
										<header>
												<h3><a href="">Nullam fringilla nulla</a></h3>
										</header>
										<div class=" date pull-left">1 <br> apr</div>
										<p>Feugiat vitae, ultricies eget, tempor sit amet, 
										ante. Donec eu libero sit amet quam egesta 
										semper.</p>
									</div><!-- /news -->
								</li>			
							</ul> <!-- /slides -->
 						</div>	<!-- /carousel -->
					</section> <!-- second-column -->
				</div> <!-- /span4 -->
			</div> <!-- /row -->
			<div class="row">
				<div class="span6">
					<section>	
						<header class="main-header header-bg-green">
							<span></span>
							<h2>about us</h2>
						</header><!-- main header -->
						<div class="row">
							<div class="span3">
								<p>Feugiat vitae, ultricies eget, tempor sit amet, 
								ante. Donec eu libero sit amet quam egesta 
								semper. Aenean ultricies mi vitae est.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
								Integer posuere erat a ante venenatis.</p>
							</div> <!-- /span3 -->
							<div class="span3">
								<span class="label">Css</span>
								<div class="progress progress-info progress-striped active">
									<div class="bar" style="width: 70%;"></div>
								</div>
								<span class="label">Html</span>
								<div class="progress progress-info progress-striped active">
									<div class="bar" style="width: 80%;"></div>
								</div>
								<span class="label">JQuery</span>
								<div class="progress progress-info progress-striped active">
									<div class="bar" style="width: 60%;"></div>
								</div>
								<span class="label">Seo</span>
								<div class="progress progress-info progress-striped active">
									<div class="bar" style="width: 75%;"></div>
								</div>
							</div> <!-- /span3 -->
						</div> <!-- /row -->
					</section> <!-- first-column -->
				</div> <!-- /span6 -->
				<div class="span6">
					<section>
						<header class="main-header header-bg-green">
							<span></span>
							<h2>Services</h2>
						</header><!-- /main header -->
						<div class="tabbable"> <!-- Only required for left/right tabs -->
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab1" data-toggle="tab"><span class="websymbols hidden-tablet">u</span>Nullam fringilla</a></li>
								<li><a href="#tab2" data-toggle="tab"><span class="websymbols hidden-tablet">P</span>Fringilla nulla</a></li>
								<li><a href="#tab3" data-toggle="tab"><span class="websymbols hidden-tablet">U</span>Nullam nulla</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="tab1">
									<h3>Best Prices</h3>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
									when an unknown printer took a galley of type and scrambled it to make a type 
									specimen book.</p>
									<p>Integer congue elit molestie nunc suscipit malesuada. Nam mattis nunc 
									aliquet nisl feugiat imperdiet. <a href="#">Read more<span class="websymbols">j</span></a> </p>
								</div>
								<div class="tab-pane" id="tab2">
									<p>Howdy, I'm in Section 2.</p>
								</div>
								<div class="tab-pane" id="tab3">
									<p>Howdy, I'm in Section 3.</p>
								</div>
							</div>
						</div>
					</section> <!-- second-column -->
				</div> <!-- /span6 -->
			</div> <!-- /row -->
		</div> <!-- /container -->
	</section> <!-- /section.main-page -->
	
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="span3">
					<section class="footer-inner">
						<div class="header-bg">
							<span></span>
							<h3><a href="#">latest tweets</a></h3>
						</div>
						<div class="tweet"></div>
					</section> <!-- /footer-inner -->
				</div>
				<div class="span3">
					<section class="footer-inner">
						<div class="header-bg">
							<span></span>
							<h3><a href="#">from blog</a></h3>
						</div>
						<div class="blog-slider">
							<div class="flexslider">
								<!-- Carousel items -->
								<ul class="slides">
									<li>							
										<article class="blog-post">
											<div>
												<h4>blog post header</h4>
											</div>	
											<a href="#" class="thumbnail post-img">
												<img src="img/blog-post1.jpg" alt="" />
											</a>
											<div class="post-info">
												<p class="meta-item"><i class="icon-calendar"></i>By <a href="#">Joe D.</a> on <a href="#">Jul 12, 2012</a> in <a href="#">Sports</a></p>
											</div>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
											Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.<a href="#"> Read more<span class="websymbols">j</span></a>
											</p>
										</article> <!-- /blog-post -->
									</li>
									<li>							
										<article class="blog-post">
											<div>
												<h4>blog post header</h4>
											</div>	
											<a href="#" class="thumbnail post-img">
												<img src="img/blog-post2.jpg" alt="" />
											</a>
											<div class="post-info">
												<p class="meta-item"><i class="icon-calendar"></i>By <a href="#">Joe D.</a> on <a href="#">Jul 12, 2012</a> in <a href="#">Sports</a></p>
											</div>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
											Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.<a href="#"> Read more<span class="websymbols">j</span></a>
											</p>
										</article> <!-- /blog-post -->
									</li>
									<li>							
										<article class="blog-post">
											<div>
												<h4>blog post header</h4>
											</div>	
											<a href="#" class="thumbnail post-img">
												<img src="img/blog-post3.jpg" alt="" />
											</a>
											<div class="post-info">
												<p class="meta-item"><i class="icon-calendar"></i>By <a href="#">Joe D.</a> on <a href="#">Jul 12, 2012</a> in <a href="#">Sports</a></p>
											</div>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
											Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
											Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
											<a href="#"> Read more<span class="websymbols">j</span></a>
											</p>
										</article> <!-- /blog-post -->
									</li>
								</ul>	
							</div> 
						</div>	<!-- /blog-slider -->
					</section> <!-- /footer-inner -->
				</div>
				<div class="span3">
					<section class="footer-inner">
						<div class="header-bg">
							<span></span>
							<h3><a href="#">contact form</a></h3>
						</div>
							<form>
								<fieldset class="control-group">
									<label>Username (required)</label>
									<input type="text" class="span3 box-sizing-default" placeholder="">
									<label>Email (required)</label>
									<input type="text" class="span3 box-sizing-default" placeholder="">
									<label>Message (required)</label>
									<textarea class="span3 box-sizing-default" id="textarea" rows="6"></textarea>
									<button type="submit" class="btn btn-info pull-right">Send  <i class="icon-ok icon-white"></i></button>
								</fieldset>
							</form>
					</section> <!-- /footer-inner -->
				</div>
				<div class="span3">
					<section class="footer-inner">
						<div class="header-bg">
							<span></span>
							<h3><a href="#">find us</a></h3>
						</div>
						<ul class="info">
							<li><span class="websymbols">U</span>M. Karaoli Street, Xanthi, Greece</li>
							<li><span class="websymbols">@</span>info@corponation.com</li>
							<li><span class="websymbols">c</span>+30 (25410) 11111</li>
						</ul>
						<ul class="social-icons">
							<li><a rel="tooltip" data-original-title="twitter" href="#" class="websymbols twitter">t</a></li>
							<li><a rel="tooltip" data-original-title="facebook" href="#" class="websymbols facebook">f</a></li>
							<li><a rel="tooltip" data-original-title="linkedIn" href="#" class="websymbols linkedin">l</a></li>
							<li><a rel="tooltip" data-original-title="google +" href="#" class="websymbols google">g</a></li>
							<li><a rel="tooltip" data-original-title="vimeo" href="#" class="websymbols vimeo">m</a></li>
							<li><a rel="tooltip" data-original-title="skype" href="#" class="websymbols skype">s</a></li>
						</ul>
					</section> <!-- /footer-inner -->
				</div>
			</div> <!-- /row -->
		</div> <!-- /container -->
	</footer> <!-- /footer.footer -->
	
	<footer class="footer-bottom">
		<nav class="container">
			<div class="navbar navbar-bottom navbar-inverse">
				<div class="navbar-inner">
					<div class="container">
						<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
						<!-- Be sure to leave the brand out there if you want it shown -->
						<a class="brand" href="#">Pro Nation &copy; 2012 All rights reserved</a>
						<div class="nav-collapse pull-right">
							<form class="navbar-search pull-left">
								<input type="text" class="search-query box-sizing-default span2" placeholder="Search">
							</form>
							<ul class="nav">
								<li class="active">
								<a href="index.html">Home</a>
								</li>
								<li><a href="portofolio.html">Portofolio</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="about.html">About Us</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div> <!-- /navbar -->	
			<div class="scroll-top">
				<a rel="tooltip" data-original-title="Back to top" class="websymbols">:</a>
			</div>
		</nav> <!-- /container -->	
	</footer> <!-- /footer.footer-bottom -->
	
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
    <script src="js/jquery.tweet.js"></script>
	<script src="js/jquery.refineslide.min.js"></script>
	<script src="js/jquery.flexslider-min.js"></script>
	<script src="js/css-browser-selector.js"></script>
	<script src="js/lightbox.js"></script>
	<script src="js/jQuery.BlackAndWhite.min.js"></script>
	<script src="js/jquery.flickrush.js"></script>
	<script src="js/script.js"></script>
</body>
</html>
