<script>
jQuery('#thoughtworthy_nav').addClass('active');
</script>

<section class="main-page">
  <div class="container">

    <section class="blog">
      <div class="row">
	<div class="span8">
	  <article>
	    <header>
	      <h2 class="post-title">Duis aute irure dolor in reprehenderit</h2>
	    </header>
	    <div class="row">
	      <div class="span2">
		<div class="info well">
		  <ul>
		    <li><i class="icon-user hidden-tablet"></i><small><a href="#">Fredrik Elg</a></small></li>
		    <li><i class="icon-tag hidden-tablet"></i><small><a href="#">Web Design</a></small></li>
		    <li><i class="icon-comment hidden-tablet"></i><small class="hidden-tablet"><a href="#">8</a></small></li>
		    <li><i class="icon-time hidden-tablet"></i><small>15th OCT 2012</small></li>
		  </ul>
		  <!-- AddThis Button BEGIN -->
		  <div class=" addthis_toolbox addthis_default_style ">
		    <a class="addthis_button_preferred_1"></a>
		    <a class="addthis_button_preferred_3"></a>
		    <a class="addthis_button_compact visible-desktop"></a>
		  </div>
		  <!-- AddThis Button END -->
		</div>
	      </div>
	      <div class="span6">
		<div class="blog-post">
		  <a class="thumbnail" href="#"><img class="" src="assets/img/blog-post1.jpg" alt="" /></a>
		  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
		    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		    proident, sunt in culpa qui officia deserunt mollit anim id est.</p>
		  <a href="blog-full.html" class="btn btn-info pull-right">Continue</a>
		</div>
	      </div>
	    </div> <!-- /row -->
	  </article>
	  <article>
	    <header>
	      <h2 class="post-title">Duis aute irure dolor in reprehenderit</h2>
	    </header>
	    <div class="row">
	      <div class="span2">
		<div class="info well">
		  <ul>
		    <li><i class="icon-user hidden-tablet"></i><small><a href="#">Fredrik Elg</a></small></li>
		    <li><i class="icon-tag hidden-tablet"></i><small><a href="#">Web Design</a></small></li>
		    <li><i class="icon-comment hidden-tablet"></i><small class="hidden-tablet"><a href="#">8</a></small></li>
		    <li><i class="icon-time hidden-tablet"></i><small>15th OCT 2012</small></li>
		  </ul>
		  <!-- AddThis Button BEGIN -->
		  <div class=" addthis_toolbox addthis_default_style ">
		    <a class="addthis_button_preferred_1"></a>
		    <a class="addthis_button_preferred_3"></a>
		    <a class="addthis_button_compact visible-desktop"></a>
		  </div>
		  <!-- AddThis Button END -->
		</div>
	      </div>
	      <div class="span6">
		<div class="blog-post">
		  <a class="thumbnail" href="#"><img class="" src="assets/img/blog-post2.jpg" alt="" /></a>
		  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
		    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		  <a href="blog-full.html" class="btn btn-info pull-right">Continue</a>
		</div>
	      </div>
	    </div> <!-- /row -->
	  </article>
	  <article>
	    <header>
	      <h2 class="post-title">Duis aute irure dolor in reprehenderit</h2>
	    </header>
	    <div class="row">
	      <div class="span2">
		<div class="info well">
		  <ul>
		    <li><i class="icon-user hidden-tablet"></i><small><a href="#">Fredrik Elg</a></small></li>
		    <li><i class="icon-tag hidden-tablet"></i><small><a href="#">Web Design</a></small></li>
		    <li><i class="icon-comment hidden-tablet"></i><small class="hidden-tablet"><a href="#">8</a></small></li>
		    <li><i class="icon-time hidden-tablet"></i><small>15th OCT 2012</small></li>
		  </ul>
		  <!-- AddThis Button BEGIN -->
		  <div class=" addthis_toolbox addthis_default_style ">
		    <a class="addthis_button_preferred_1"></a>
		    <a class="addthis_button_preferred_3"></a>
		    <a class="addthis_button_compact visible-desktop"></a>
		  </div>
		  <!-- AddThis Button END -->
		</div>
	      </div>
	      <div class="span6">
		<div class="blog-post">
		  <a class="thumbnail" href="#"><img class="" src="assets/img/blog-post3.jpg" alt="" /></a>
		  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
		    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		  <a href="blog-full.html" class="btn btn-info pull-right">Continue</a>
		</div>
	      </div>
	    </div>	<!-- /row -->
	  </article>
	  <article>
	    <header>
	      <h2 class="post-title">Duis aute irure dolor in reprehenderit</h2>
	    </header>
	    <div class="row">
	      <div class="span2">
		<div class="info well">
		  <ul>
		    <li><i class="icon-user hidden-tablet"></i><small><a href="#">Fredrik Elg</a></small></li>
		    <li><i class="icon-tag hidden-tablet"></i><small><a href="#">Web Design</a></small></li>
		    <li><i class="icon-comment hidden-tablet"></i><small class="hidden-tablet"><a href="#">8</a></small></li>
		    <li><i class="icon-time hidden-tablet"></i><small>15th OCT 2012</small></li>
		  </ul>
		  <!-- AddThis Button BEGIN -->
		  <div class=" addthis_toolbox addthis_default_style ">
		    <a class="addthis_button_preferred_1"></a>
		    <a class="addthis_button_preferred_3"></a>
		    <a class="addthis_button_compact visible-desktop"></a>
		  </div>
		  <!-- AddThis Button END -->
		</div>
	      </div>
	      <div class="span6">
		<div class="blog-post">
		  <a class="thumbnail" href="#"><img class="" src="assets/img/blog-post1.jpg" alt="" /></a>
		  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
		    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		  <a href="blog-full.html" class="btn btn-info pull-right">Continue</a>
		</div>
	      </div>
	    </div>	<!-- /row -->
	  </article>
	  <div class="pagination pagination-centered">
	    <ul>
	      <li class="disabled"><a href="#">Prev</a></li>
	      <li class="active"><a href="#">1</a></li>
	      <li class=""><a href="#">2</a></li>
	      <li class=""><a href="#">3</a></li>
	      <li><a href="#">Next</a></li>
	    </ul>
	  </div> <!-- /pagination -->
	</div> <!-- /span8 -->
	<div class="span4">
	  <aside class="sidebar">
	    <div class="sidebar-item">
	      <header class="header-bg">
		<span></span>
		<h3><a href="#">Categories</a></h3>
	      </header>
	      <ul class="nav nav-pills nav-stacked">
		<li class="active"><a href="#"><i class="icon-chevron-right "></i>Webdesign</a></li>
		<li><a href="#"><i class="icon-chevron-right "></i>HTML</a></li>
		<li><a href="#"><i class="icon-chevron-right "></i>CSS</a></li>
		<li><a href="#"><i class="icon-chevron-right "></i>JQuery</a></li>
		<li><a href="#"><i class="icon-chevron-right "></i>CSS</a></li>
	      </ul>
	    </div><!-- /sidebar-item -->
	    <div class="accordion sidebar-item" id="accordion2">
	      <header class="header-bg">
		<span></span>
		<h3><a href="#">Accordion Widget</a></h3>
	      </header>
	      <div class="accordion-group">
		<div class="accordion-heading">
		  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		    Recent Projects
		  </a>
		</div>
		<div id="collapseOne" class="accordion-body  collapse" >
		  <div class="accordion-inner">
		    <ul class="recents">
		      <li>
			<div class=" date pull-left">31<br>okt</div>
			<h4>
			  <a href="#">Nullam fringilla nulla</a>
			</h4>
		      </li>
		      <li>
			<div class=" date pull-left">30<br>sep</div>
			<h4>
			  <a href="#">Enim eiusmod high life</a>
			</h4>
		      </li>
		      <li>
			<div class=" date pull-left">29<br>apr</div>
			<h4>
			  <a href="#">Leggings craft beer farm-to-table</a>
			</h4>
		      </li>
		      <li>
			<div class=" date pull-left">05<br>feb</div>
			<h4>
			  <a href="#">Brunch 3 wolf moon temh4or</a>
			</h4>
		      </li>
		      <li>
			<div class=" date pull-left">01<br>jan</div>
			<h4>
			  <a href="#">Ad vegan exceh4teur butcher vice lomor</a>
			</h4>
		      </li>
		    </ul>
		  </div>
		</div>
	      </div>
	      <div class="accordion-group">
		<div class="accordion-heading">
		  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		    Recent blog Posts
		  </a>
		</div>
		<div id="collapseTwo" class="accordion-body in collapse">
		  <div class="accordion-inner">
		    <ul class="recents">
		      <li>
			<div class=" date pull-left">31<br>okt</div>
			<h4>
			  <a href="#">Nullam fringilla nulla</a>
			</h4>
		      </li>
		      <li>
			<div class=" date pull-left">30<br>sep</div>
			<h4>
			  <a href="#">Enim eiusmod high life</a>
			</h4>
		      </li>
		      <li>
			<div class=" date pull-left">29<br>apr</div>
			<h4>
			  <a href="#">Leggings craft beer farm-to-table</a>
			</h4>
		      </li>
		      <li>
			<div class=" date pull-left">05<br>feb</div>
			<h4>
			  <a href="#">Brunch 3 wolf moon temh4or</a>
			</h4>
		      </li>
		      <li>
			<div class=" date pull-left">01<br>jan</div>
			<h4>
			  <a href="#">Ad vegan exceh4teur butcher vice lomor</a>
			</h4>
		      </li>
		    </ul>
		  </div>
		</div>
	      </div>
	      <div class="accordion-group">
		<div class="accordion-heading">
		  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
		    From Flickr
		  </a>
		</div>
		<div id="collapseThree" class="accordion-body collapse">
		  <div class="accordion-inner clearfix">
		    <div id="flickrImages"></div>
		  </div>
		</div>
	      </div>
	    </div> <!-- /sidebar-item -->
	    <div class="sidebar-item">
	      <header class="header-bg">
		<span></span>
		<h3><a href="#">Tab Widget</a></h3>
	      </header>
	      <ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#home" data-toggle="tab">Ullamco Laboris</a></li>
		<li class=""><a href="#profile" data-toggle="tab">Comments</a></li>
	      </ul>
	      <div id="myTabContent" class="tab-content">
		<div class="tab-pane fade active in" id="home">
		  <p>
		    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		    consequat.
		  </p>
		</div>
		<div class="tab-pane fade" id="profile">
		  <p>"Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park."</p>
		</div>
	      </div>
	    </div> <!-- /sidebar-item -->
	    <div class="sidebar-item last">
	      <header class="header-bg">
		<span></span>
		<h3><a href="#">Login</a></h3>
	      </header>
	      <form>
		<div class="input-prepend">
  		  <span class="add-on box-sizing-default websymbols hidden-tablet">U</span><input class="box-sizing-default " type="text"  placeholder="Username">
		</div>
		<div class="input-prepend">
  		  <span class="add-on box-sizing-default websymbols hidden-tablet">x</span><input class="box-sizing-default " type="text"  placeholder="Password">
		</div>
		<div class="control-group">
		  <div class="controls">
		    <button type="submit" class="btn">Sign in</button>
		    or
		    <button type="submit" class="btn btn-info">Signup</button>
		  </div>
		</div>
	      </form>
	    </div> <!-- /sidebar-item -->
	  </aside> <!-- /sidebar -->
	</div> <!-- /span4 -->
      </div> <!-- /row -->
    </section> <!-- /blog -->
  </div> <!-- /container -->
</section> <!-- /section.main-page -->
