<script>
jQuery('#about_nav').addClass('active');
</script>
	
<section class="main-page">
  <div class="container">
    <section class="about">
      <div class="row">
	<div class="span8">
	  <h2 class="page-title">Our Team</h2>
	  <div class="about-item">
	    <div class="row">
	      <div class="span4">
		<a class="thumbnail" href="#"><img class="" src="assets/img/about1.jpg" alt="" /></a>
	      </div>
	      <div class="span4">
		<header>
		  <h4>Jane Doe</h4>
		</header>
		<p>Nulla faci. Aliquam congue, massa ac rhonc, 
		  sapien turpis sollicitud risus, sit amurna 
		  augue diam. Nullam fringilla nulla.Pellentesq
		  habitanmorbi tristique senectu. </p>
		<ul class="info">
		  <li class="text-info"><span class="websymbols">@</span><strong>e-mail: </strong>jdoe@mail.com</li>
		  <li class="text-info"><span class="websymbols">c</span><strong>telefon: </strong>+30 (25410) 11111</li>
		</ul>
		<button class="btn btn-info">Contact</button>		
	      </div>
	    </div> <!-- /row -->
	  </div>	
	  <div class="about-item">
	    <div class="row clearfix">
	      <div class="span4 float-right">
		<a class="thumbnail" href="#"><img class="" src="assets/img/about2.jpg" alt="" /></a>
	      </div>
	      <div class="span4">
		<header>
		  <h4>Jane Doe</h4>
		</header>
		<p>Nulla faci. Aliquam congue, massa ac rhonc, 
		  sapien turpis sollicitud risus, sit amurna 
		  augue diam. Nullam fringilla nulla.Pellentesq
		  habitanmorbi tristique senectu. </p>
		<ul class="info">
		  <li class="text-info"><span class="websymbols">@</span><strong>e-mail: </strong>jdoe@mail.com</li>
		  <li class="text-info"><span class="websymbols">c</span><strong>telefon: </strong>+30 (25410) 11111</li>
		</ul>
		<button class="btn btn-info">Contact</button>		
	      </div>
							</div> <!-- /row -->
	  </div>
	  <div class="about-item">
	    <div class="row">
	      <div class="span4">
		<a class="thumbnail" href="#"><img class="" src="assets/img/about3.jpg" alt="" /></a>
	      </div>
	      <div class="span4">
		<header>
		  <h4>Jane Doe</h4>
		</header>
		<p>Nulla faci. Aliquam congue, massa ac rhonc, 
		  sapien turpis sollicitud risus, sit amurna 
		  augue diam. Nullam fringilla nulla.Pellentesq
		  habitanmorbi tristique senectu. </p>
		<ul class="info">
		  <li class="text-info"><span class="websymbols">@</span><strong>e-mail: </strong>jdoe@mail.com</li>
		  <li class="text-info"><span class="websymbols">c</span><strong>telefon: </strong>+30 (25410) 11111</li>
		</ul>
									<button class="btn btn-info">Contact</button>		
	      </div>
	    </div> <!-- /row -->
	  </div>
	</div> <!-- /span8 -->
	<div class="span4">
	  <aside class="sidebar">
	    <div class="sidebar-item">
	      <header class="header-bg">
		<span></span>
		<h3>Our Company</h3>
	      </header>
	      <p>Feugiat vitae 1980, ultricies eget, tempor sit amet, 
		ante. Donec eu libero sit amet quam egesta 
		semper. Aenean ultricies mi vitae est.</p>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
		Integer posuere erat a ante venenatis.</p>
	    </div><!-- /sidebar-item -->
	    <div class="sidebar-item last">
	      <span class="label">Css</span>
	      <div class="progress progress-info progress-striped active">
		<div class="bar" style="width: 70%;"></div>
	      </div>
	      <span class="label">Html</span>
	      <div class="progress progress-info progress-striped active">
		<div class="bar" style="width: 80%;"></div>
	      </div>
	      <span class="label">JQuery</span>
	      <div class="progress progress-info progress-striped active">
		<div class="bar" style="width: 60%;"></div>
	      </div>
	      <span class="label">Seo</span>
	      <div class="progress progress-info progress-striped active">
		<div class="bar" style="width: 75%;"></div>
	      </div>
	    </div>
	  </aside> <!-- //sidebar -->
	</div> <!-- /span4 -->
      </div> <!-- /row -->
    </section> <!-- /about -->
  </div> <!-- /container -->
</section> <!-- /section.main-page -->
	
