<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<!-- Le fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="all">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css" media="all">
	<link rel="stylesheet" type="text/css" href="css/style.css" media="all">
	<link rel="stylesheet" type="text/css" href="css/responsive-style.css" media="all">

     <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
	<![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
  </head>

<body>
    <header class="main">
		<div class="container">
			<div class="row">
				<div class="span3">					
					<!-- delete the class "text" if you want to put an image logo-->
					<h1 class="logo text"><a href="index.html">Pro <span>Nation</span></a></h1>
				</div><!-- /span3 -->
				<div class="span9">	
					<nav  class="main-nav">
						<ul class="dropdown dropdown-horizontal pull-right">
							<li class=""><a href="index.html" class="dir">Home</a>
								<ul>
									<li><a href="refineslider.html">Refine Slider</a></li>
								</ul>
							</li>
							<li >
								<a href="portofolio.html">Portofolio</a>
								<ul>
									<li><a href="portofolio.html">Three Colums</a></li>
									<li><a href="portofolio-full.html">Portofolio Item</a></li>
								</ul>
							</li>
							<li class="active">
								<a class="dir" href="blog.html">Blog</a>
								<ul class="">
									<li><a href="blog.html">Blog</a></li>
									<li><a href="blog-full.html">Blog Post</a></li>
								</ul>
							</li>	
							<li><a href="about.html">About Us</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>	
					</nav>
				</div>  <!-- /span9 -->
			</div> <!-- /row -->
		</div> <!-- /container -->	
    </header> <!-- /header.main -->
	
	<section class="main-page">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="index.html">Home</a> <span class="divider">/</span></li>
				<li class="active">Blog</li>
			</ul>
			<section class="blog">
				<div class="row">
					<div class="span8">
						<article>
							<header>
								<h2 class="post-title">Duis aute irure dolor in reprehenderit</h2>
							</header>
							<div class="row">
								<div class="span2">
									<div class="info well">
										<ul>
											<li><i class="icon-user hidden-tablet"></i><small><a href="#">John Doe</a></small></li>
											<li><i class="icon-tag hidden-tablet"></i><small><a href="#">Web Design</a></small></li>
											<li><i class="icon-comment hidden-tablet"></i><small class="hidden-tablet"><a href="#">8</a></small></li>
											<li><i class="icon-time hidden-tablet"></i><small>15th OCT 2012</small></li>
										</ul>
										<!-- AddThis Button BEGIN -->
										<div class=" addthis_toolbox addthis_default_style ">
										<a class="addthis_button_preferred_1"></a>
										<a class="addthis_button_preferred_3"></a>
										<a class="addthis_button_compact visible-desktop"></a>
										</div>
										<!-- AddThis Button END -->
									</div>
								</div>
								<div class="span6">
									<div class="blog-post">
										<a class="thumbnail" href="#"><img class="" src="img/blog-post1.jpg" alt="" /></a>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
										cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
										proident, sunt in culpa qui officia deserunt mollit anim id est.</p>
										<a href="blog-full.html" class="btn btn-info pull-right">Continue</a>
									</div>
								</div>
							</div> <!-- /row -->		
						</article>
						<article>
							<header>
								<h2 class="post-title">Duis aute irure dolor in reprehenderit</h2>
							</header>
							<div class="row">
								<div class="span2">
									<div class="info well">
										<ul>
											<li><i class="icon-user hidden-tablet"></i><small><a href="#">John Doe</a></small></li>
											<li><i class="icon-tag hidden-tablet"></i><small><a href="#">Web Design</a></small></li>
											<li><i class="icon-comment hidden-tablet"></i><small class="hidden-tablet"><a href="#">8</a></small></li>
											<li><i class="icon-time hidden-tablet"></i><small>15th OCT 2012</small></li>
										</ul>
										<!-- AddThis Button BEGIN -->
										<div class=" addthis_toolbox addthis_default_style ">
										<a class="addthis_button_preferred_1"></a>
										<a class="addthis_button_preferred_3"></a>
										<a class="addthis_button_compact visible-desktop"></a>
										</div>
										<!-- AddThis Button END -->
									</div>
								</div>
								<div class="span6">
									<div class="blog-post">
										<a class="thumbnail" href="#"><img class="" src="img/blog-post2.jpg" alt="" /></a>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
										cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
										proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										<a href="blog-full.html" class="btn btn-info pull-right">Continue</a>
									</div>
								</div>
							</div> <!-- /row -->		
						</article>
						<article>
							<header>
								<h2 class="post-title">Duis aute irure dolor in reprehenderit</h2>
							</header>
							<div class="row">
								<div class="span2">
									<div class="info well">
										<ul>
											<li><i class="icon-user hidden-tablet"></i><small><a href="#">John Doe</a></small></li>
											<li><i class="icon-tag hidden-tablet"></i><small><a href="#">Web Design</a></small></li>
											<li><i class="icon-comment hidden-tablet"></i><small class="hidden-tablet"><a href="#">8</a></small></li>
											<li><i class="icon-time hidden-tablet"></i><small>15th OCT 2012</small></li>
										</ul>
										<!-- AddThis Button BEGIN -->
										<div class=" addthis_toolbox addthis_default_style ">
										<a class="addthis_button_preferred_1"></a>
										<a class="addthis_button_preferred_3"></a>
										<a class="addthis_button_compact visible-desktop"></a>
										</div>
										<!-- AddThis Button END -->
									</div>
								</div>
								<div class="span6">
									<div class="blog-post">
										<a class="thumbnail" href="#"><img class="" src="img/blog-post3.jpg" alt="" /></a>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
										cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
										proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										<a href="blog-full.html" class="btn btn-info pull-right">Continue</a>
									</div>
								</div>
							</div>	<!-- /row -->	
						</article>
						<article>
							<header>
								<h2 class="post-title">Duis aute irure dolor in reprehenderit</h2>
							</header>
							<div class="row">
								<div class="span2">
									<div class="info well">
										<ul>
											<li><i class="icon-user hidden-tablet"></i><small><a href="#">John Doe</a></small></li>
											<li><i class="icon-tag hidden-tablet"></i><small><a href="#">Web Design</a></small></li>
											<li><i class="icon-comment hidden-tablet"></i><small class="hidden-tablet"><a href="#">8</a></small></li>
											<li><i class="icon-time hidden-tablet"></i><small>15th OCT 2012</small></li>
										</ul>
										<!-- AddThis Button BEGIN -->
										<div class=" addthis_toolbox addthis_default_style ">
										<a class="addthis_button_preferred_1"></a>
										<a class="addthis_button_preferred_3"></a>
										<a class="addthis_button_compact visible-desktop"></a>
										</div>
										<!-- AddThis Button END -->
									</div>
								</div>
								<div class="span6">
									<div class="blog-post">
										<a class="thumbnail" href="#"><img class="" src="img/blog-post1.jpg" alt="" /></a>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
										cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
										proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										<a href="blog-full.html" class="btn btn-info pull-right">Continue</a>
									</div>
								</div>
							</div>	<!-- /row -->	
						</article>
						<div class="pagination pagination-centered">
							<ul>
								<li class="disabled"><a href="#">Prev</a></li>
								<li class="active"><a href="#">1</a></li>
								<li class=""><a href="#">2</a></li>
								<li class=""><a href="#">3</a></li>
								<li><a href="#">Next</a></li>
							</ul>
						</div> <!-- /pagination -->
					</div> <!-- /span8 -->
					<div class="span4">
						<aside class="sidebar">
							<div class="sidebar-item">
								<header class="header-bg">
									<span></span>
									<h3><a href="#">Categories</a></h3>
								</header>
								<ul class="nav nav-pills nav-stacked">
									<li class="active"><a href="#"><i class="icon-chevron-right "></i>Webdesign</a></li>
									<li><a href="#"><i class="icon-chevron-right "></i>HTML</a></li>
									<li><a href="#"><i class="icon-chevron-right "></i>CSS</a></li>
									<li><a href="#"><i class="icon-chevron-right "></i>JQuery</a></li>
									<li><a href="#"><i class="icon-chevron-right "></i>CSS</a></li>
								</ul>
							</div><!-- /sidebar-item -->
							<div class="accordion sidebar-item" id="accordion2">
								<header class="header-bg">
									<span></span>
									<h3><a href="#">Accordion Widget</a></h3>
								</header>
								<div class="accordion-group">
									<div class="accordion-heading">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
										Recent Projects
										</a>
									</div>
									<div id="collapseOne" class="accordion-body  collapse" >
										<div class="accordion-inner">
											<ul class="recents">
												<li>
													<div class=" date pull-left">31<br>okt</div>
													<h4>
														<a href="#">Nullam fringilla nulla</a>
													</h4>
												</li>
												<li>
													<div class=" date pull-left">30<br>sep</div>
													<h4>
														<a href="#">Enim eiusmod high life</a>
													</h4>
												</li>
												<li>
													<div class=" date pull-left">29<br>apr</div>
													<h4>
														<a href="#">Leggings craft beer farm-to-table</a>
													</h4>
												</li>
												<li>
													<div class=" date pull-left">05<br>feb</div>
													<h4>
														<a href="#">Brunch 3 wolf moon temh4or</a>
													</h4>
												</li>
												<li>
													<div class=" date pull-left">01<br>jan</div>
													<h4>
														<a href="#">Ad vegan exceh4teur butcher vice lomor</a>
													</h4>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="accordion-group">
									<div class="accordion-heading">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
										Recent blog Posts
										</a>
									</div>
									<div id="collapseTwo" class="accordion-body in collapse">
										<div class="accordion-inner">
											<ul class="recents">
												<li>
													<div class=" date pull-left">31<br>okt</div>
													<h4>
														<a href="#">Nullam fringilla nulla</a>
													</h4>
												</li>
												<li>
													<div class=" date pull-left">30<br>sep</div>
													<h4>
														<a href="#">Enim eiusmod high life</a>
													</h4>
												</li>
												<li>
													<div class=" date pull-left">29<br>apr</div>
													<h4>
														<a href="#">Leggings craft beer farm-to-table</a>
													</h4>
												</li>
												<li>
													<div class=" date pull-left">05<br>feb</div>
													<h4>
														<a href="#">Brunch 3 wolf moon temh4or</a>
													</h4>
												</li>
												<li>
													<div class=" date pull-left">01<br>jan</div>
													<h4>
														<a href="#">Ad vegan exceh4teur butcher vice lomor</a>
													</h4>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="accordion-group">
									<div class="accordion-heading">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
										From Flickr
										</a>
									</div>
									<div id="collapseThree" class="accordion-body collapse">
										<div class="accordion-inner clearfix">
										<div id="flickrImages"></div>
										</div>
									</div>
								</div>
							</div> <!-- /sidebar-item -->
							<div class="sidebar-item">
								<header class="header-bg">
									<span></span>
									<h3><a href="#">Tab Widget</a></h3>
								</header>
								<ul id="myTab" class="nav nav-tabs">
									<li class="active"><a href="#home" data-toggle="tab">Ullamco Laboris</a></li>
									<li class=""><a href="#profile" data-toggle="tab">Comments</a></li>
								</ul>
								<div id="myTabContent" class="tab-content">
									<div class="tab-pane fade active in" id="home">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
											quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
											consequat.
										</p>
									</div>
									<div class="tab-pane fade" id="profile">
										<p>"Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park."</p>
									</div>
								</div>
							</div> <!-- /sidebar-item -->
							<div class="sidebar-item last">
								<header class="header-bg">
									<span></span>
									<h3><a href="#">Login</a></h3>
								</header>
								<form>
									<div class="input-prepend">
  										<span class="add-on box-sizing-default websymbols hidden-tablet">U</span><input class="box-sizing-default " type="text"  placeholder="Username">
									</div>
									<div class="input-prepend">
  										<span class="add-on box-sizing-default websymbols hidden-tablet">x</span><input class="box-sizing-default " type="text"  placeholder="Password">
									</div>
									<div class="control-group">
										<div class="controls">
											<button type="submit" class="btn">Sign in</button>
											or
											<button type="submit" class="btn btn-info">Signup</button>
										</div>
									</div>
								</form>
							</div> <!-- /sidebar-item -->
						</aside> <!-- /sidebar -->
					</div> <!-- /span4 -->
				</div> <!-- /row -->
			</section> <!-- /blog -->	
		</div> <!-- /container -->
	</section> <!-- /section.main-page -->
	
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="span3">
					<section class="footer-inner">
						<div class="header-bg">
							<span></span>
							<h3><a href="#">latest tweets</a></h3>
						</div>
						<div class="tweet"></div>
					</section> <!-- /footer-inner -->
				</div>
				<div class="span3">
					<section class="footer-inner">
						<div class="header-bg">
							<span></span>
							<h3><a href="#">from blog</a></h3>
						</div>
						<div class="blog-slider">
							<div class="flexslider">
								<!-- Carousel items -->
								<ul class="slides">
									<li>							
										<article class="blog-post">
											<div>
												<h4>blog post header</h4>
											</div>	
											<a href="#" class="thumbnail post-img">
												<img src="img/blog-post1.jpg" alt="" />
											</a>
											<div class="post-info">
												<p class="meta-item"><i class="icon-calendar"></i>By <a href="#">Joe D.</a> on <a href="#">Jul 12, 2012</a> in <a href="#">Sports</a></p>
											</div>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
											Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.<a href="#"> Read more<span class="websymbols">j</span></a>
											</p>
										</article> <!-- /blog-post -->
									</li>
									<li>							
										<article class="blog-post">
											<div>
												<h4>blog post header</h4>
											</div>	
											<a href="#" class="thumbnail post-img">
												<img src="img/blog-post2.jpg" alt="" />
											</a>
											<div class="post-info">
												<p class="meta-item"><i class="icon-calendar"></i>By <a href="#">Joe D.</a> on <a href="#">Jul 12, 2012</a> in <a href="#">Sports</a></p>
											</div>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
											Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.<a href="#"> Read more<span class="websymbols">j</span></a>
											</p>
										</article> <!-- /blog-post -->
									</li>
									<li>							
										<article class="blog-post">
											<div>
												<h4>blog post header</h4>
											</div>	
											<a href="#" class="thumbnail post-img">
												<img src="img/blog-post3.jpg" alt="" />
											</a>
											<div class="post-info">
												<p class="meta-item"><i class="icon-calendar"></i>By <a href="#">Joe D.</a> on <a href="#">Jul 12, 2012</a> in <a href="#">Sports</a></p>
											</div>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
											Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
											Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
											<a href="#"> Read more<span class="websymbols">j</span></a>
											</p>
										</article> <!-- /blog-post -->
									</li>
								</ul>	
							</div> 
						</div>	<!-- /blog-slider -->
					</section> <!-- /footer-inner -->
				</div>
				<div class="span3">
					<section class="footer-inner">
						<div class="header-bg">
							<span></span>
							<h3><a href="#">contact form</a></h3>
						</div>
						<form>
							<fieldset class="control-group">
								<label>Username (required)</label>
								<input type="text" class="span3 box-sizing-default" placeholder="">
								<label>Email (required)</label>
								<input type="text" class="span3 box-sizing-default" placeholder="">
								<label>Message (required)</label>
								<textarea class="span3 box-sizing-default" id="textarea" rows="6"></textarea>
								<button type="submit" class="btn btn-info pull-right">Send  <i class="icon-ok icon-white"></i></button>
							</fieldset>
						</form>
					</section> <!-- /footer-inner -->
				</div>
				<div class="span3">
					<section class="footer-inner">
						<div class="header-bg">
							<span></span>
							<h3><a href="#">find us</a></h3>
						</div>
						<ul class="info">
							<li><span class="websymbols">U</span>M. Karaoli Street, Xanthi, Greece</li>
							<li><span class="websymbols">@</span>info@corponation.com</li>
							<li><span class="websymbols">c</span>+30 (25410) 11111</li>
						</ul>
						<ul class="social-icons">
							<li><a rel="tooltip" data-original-title="twitter" href="#" class="websymbols twitter">t</a></li>
							<li><a rel="tooltip" data-original-title="facebook" href="#" class="websymbols facebook">f</a></li>
							<li><a rel="tooltip" data-original-title="linkedIn" href="#" class="websymbols linkedin">l</a></li>
							<li><a rel="tooltip" data-original-title="google +" href="#" class="websymbols google">g</a></li>
							<li><a rel="tooltip" data-original-title="vimeo" href="#" class="websymbols vimeo">m</a></li>
							<li><a rel="tooltip" data-original-title="skype" href="#" class="websymbols skype">s</a></li>
						</ul>
					</section> <!-- /footer-inner -->
				</div>
			</div> <!-- /row -->
		</div> <!-- /container -->
	</footer> <!-- /footer.footer -->
	
	<footer class="footer-bottom">
		<nav class="container">
			<div class="navbar navbar-bottom navbar-inverse">
				<div class="navbar-inner">
					<div class="container">
						<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
						<!-- Be sure to leave the brand out there if you want it shown -->
						<a class="brand" href="#">Pro Nation &copy; 2012 All rights reserved</a>
						<div class="nav-collapse pull-right">
							<form class="navbar-search pull-left">
								<input type="text" class="search-query box-sizing-default span2" placeholder="Search">
							</form>
							<ul class="nav">
								<li><a href="index.html">Home</a></li>
								<li><a href="portofolio.html">Portofolio</a></li>
								<li  class="active"><a href="blog.html">Blog</a></li>
								<li><a href="about.html">About Us</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div> <!-- /navbar -->	
			<div class="scroll-top">
				<a rel="tooltip" data-original-title="Back to top" class="websymbols">:</a>
			</div>
		</nav> <!-- /container -->	
	</footer> <!-- /footer.footer-bottom -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="js/jquery.tweet.js"></script>
	<script src="js/jquery.refineslide.min.js"></script>
	<script src="js/jquery.flexslider-min.js"></script>
	<script src="js/css-browser-selector.js"></script>
	<script src="js/script.js"></script>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-50414ca7184e6a50"></script>
	<script src="js/jQuery.BlackAndWhite.min.js"></script>
	<script src="js/jquery.flickrush.js"></script>
	<script src="js/lightbox.js"></script>
</body>
</html>
