<script>
jQuery('#how_we_help_nav').addClass('active');
</script>
	<section class="main-page">
		<div class="container">
		
			<h2 class="pull-left page-title">How we help</h2>
		
			<section class="portofolio">
				<div class="row">
					<div class="span4">
						<article class="portofolio-item">
							<header class="header-bg">
									<span></span>
									<h3><a href="#">Project Name</a></h3>
							</header>
							<a class="thumbnail" href="#">
								<span class="bwWrapper">
									<img src="assets/img/recent-work1.jpg" alt=""/>
								</span>
							</a>
							<div class="post-info">
							<p class="meta-item"><i class="icon-calendar"></i>By <a href="#">Joe D.</a> on <a href="#">Jul 12, 2012</a> in <a href="#">Sports</a></p>
							</div>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<a href="portofolio-full.html" class="btn btn-info">Read More</a>
						</article>
					</div>
					<div class="span4">
						<article class="portofolio-item">
							<header class="header-bg">
									<span></span>
									<h3><a href="#">Project Name</a></h3>
							</header>
							<a class="thumbnail" href="#">
								<span class="bwWrapper">
									<img src="assets/img/recent-work2.jpg" alt=""/>
								</span>
							</a>
							<div class="post-info">
							<p class="meta-item"><i class="icon-calendar"></i>By <a href="#">Joe D.</a> on <a href="#">Jul 12, 2012</a> in <a href="#">Sports</a></p>
							</div>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<a href="portofolio-full.html" class="btn btn-info">Read More</a>
						</article>
					</div>
					<div class="span4">
						<article class="portofolio-item">
							<header class="header-bg">
									<span></span>
									<h3><a href="#">Project Name</a></h3>
							</header>
							<a class="thumbnail" href="#">
								<span class="bwWrapper">
									<img src="assets/img/recent-work3.jpg" alt=""/>
								</span>
							</a>
							<div class="post-info">
							<p class="meta-item"><i class="icon-calendar"></i>By <a href="#">Joe D.</a> on <a href="#">Jul 12, 2012</a> in <a href="#">Sports</a></p>
							</div>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<a href="portofolio-full.html" class="btn btn-info">Read More</a>
						</article>
					</div>
				</div> <!-- /row -->
				<div class="row">
					<div class="span4">
						<article class="portofolio-item">
							<header class="header-bg">
									<span></span>
									<h3><a href="#">Project Name</a></h3>
							</header>
							<a class="thumbnail" href="#">
								<span class="bwWrapper">
									<img src="assets/img/recent-work1.jpg" alt=""/>
								</span>
							</a>
							<div class="post-info">
							<p class="meta-item"><i class="icon-calendar"></i>By <a href="#">Joe D.</a> on <a href="#">Jul 12, 2012</a> in <a href="#">Sports</a></p>
							</div>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<a href="portofolio-full.html" class="btn btn-info">Read More</a>
						</article>
					</div>
					<div class="span4">
						<article class="portofolio-item">
							<header class="header-bg">
									<span></span>
									<h3><a href="#">Project Name</a></h3>
							</header>
							<a class="thumbnail" href="#">
								<span class="bwWrapper">
									<img src="assets/img/recent-work2.jpg" alt=""/>
								</span>
							</a>
							<div class="post-info">
							<p class="meta-item"><i class="icon-calendar"></i>By <a href="#">Joe D.</a> on <a href="#">Jul 12, 2012</a> in <a href="#">Sports</a></p>
							</div>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<a href="portofolio-full.html" class="btn btn-info">Read More</a>
						</article>
					</div>
					<div class="span4">
						<article class="portofolio-item">
							<header class="header-bg">
									<span></span>
									<h3><a href="#">Project Name</a></h3>
							</header>
							<a class="thumbnail" href="#">
								<span class="bwWrapper">
									<img src="assets/img/recent-work3.jpg" alt=""/>
								</span>
							</a>
							<div class="post-info">
							<p class="meta-item"><i class="icon-calendar"></i>By <a href="#">Joe D.</a> on <a href="#">Jul 12, 2012</a> in <a href="#">Sports</a></p>
							</div>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<a href="portofolio-full.html" class="btn btn-info">Read More</a>
						</article>
					</div>
				</div> <!-- /row -->
				<div class="row">
					<div class="span4">
						<article class="portofolio-item">
							<header class="header-bg">
									<span></span>
									<h3><a href="#">Project Name</a></h3>
							</header>
							<a class="thumbnail" href="#">
								<span class="bwWrapper">
									<img src="assets/img/recent-work1.jpg" alt=""/>
								</span>
							</a>
							<div class="post-info">
							<p class="meta-item"><i class="icon-calendar"></i>By <a href="#">Joe D.</a> on <a href="#">Jul 12, 2012</a> in <a href="#">Sports</a></p>
							</div>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<a href="portofolio-full.html" class="btn btn-info">Read More</a>
						</article>
					</div>
					<div class="span4">
						<article class="portofolio-item">
							<header class="header-bg">
									<span></span>
									<h3><a href="#">Project Name</a></h3>
							</header>
							<a class="thumbnail" href="#">
								<span class="bwWrapper">
									<img src="assets/img/recent-work2.jpg" alt=""/>
								</span>
							</a>
							<div class="post-info">
							<p class="meta-item"><i class="icon-calendar"></i>By <a href="#">Joe D.</a> on <a href="#">Jul 12, 2012</a> in <a href="#">Sports</a></p>
							</div>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<a href="portofolio-full.html" class="btn btn-info">Read More</a>
						</article>
					</div>
					<div class="span4">
						<article class="portofolio-item">
							<header class="header-bg">
									<span></span>
									<h3><a href="#">Project Name</a></h3>
							</header>
							<a class="thumbnail" href="#">
								<span class="bwWrapper">
									<img src="assets/img/recent-work3.jpg" alt=""/>
								</span>
							</a>
							<div class="post-info">
							<p class="meta-item"><i class="icon-calendar"></i>By <a href="#">Joe D.</a> on <a href="#">Jul 12, 2012</a> in <a href="#">Sports</a></p>
							</div>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<a href="portofolio-full.html" class="btn btn-info">Read More</a>
						</article>
					</div>
				</div> <!-- /row -->	
			</section> <!-- /portofolio -->	
		
		</div> <!-- /container -->
	</section> <!-- /section.main-page -->
