<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pracipio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

   <!-- Le javascript
    ================================================== -->
   <script src="./static/js/jquery.js"></script>
   <script src="./static/js/bootstrap.min.js"></script>
   <!--script src="./static/js/jquery.tweet.js"></script-->
	 <script src="./static/js/jquery.refineslide.min.js"></script>
	 <script src="./static/js/jquery.flexslider-min.js"></script>
	 <script src="./static/js/css-browser-selector.js"></script>
	 <script src="./static/js/lightbox.js"></script>
	 <script src="./static/js/jQuery.BlackAndWhite.min.js"></script>
	 <script src="./static/js/jquery.flickrush.js"></script>
	 <script src="./static/js/script.js"></script>

	<!-- Le fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
  <!-- Le styles -->
  <link rel="stylesheet" type="text/css" href="./static/css/bootstrap.css" media="all">
	<link rel="stylesheet" type="text/css" href="./static/css/bootstrap-responsive.css" media="all">
	<link rel="stylesheet" type="text/css" href="./static/css/style.css" media="all">
	<link rel="stylesheet" type="text/css" href="./static/css/responsive-style.css" media="all">

     <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
	<![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="./static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="./static/ico/apple-touch-icon-57-precomposed.png">
 
    
<script>

jQuery('#contact_nav').addClass('active');
</script>

 </head>

<body>
  <header class="main">
    <div class="container">
      <div class="row">
	<div class="span3">					
	  <!-- delete the class "text" if you want to put an image logo-->
	  <!--h1 class="logo text"><a href="index.php">Pra<span>cipio</span></a></h1-->
	  <h1 class="logo text"><a href="index.html">Pracipio</a></h1>
	</div><!-- /span3 -->
	<div class="span9">	
	  <nav  class="main-nav">
	    <ul class="dropdown dropdown-horizontal pull-right">
	      <li id="welcome_nav">
		<a href="index.html" class="dir">Welcome</a>
	      </li>
	      <!--li id="how_we_help_nav">
		<a href="how_we_help">How we help</a>
	      </li>
	      <li id="thoughtworthy_nav">
		<a class="dir" href="thoughtworthy">ThoughtWorthy</a>
	      </li>	
	      <li id="about_nav">
		<a href="about">About Us</a></li-->
	      <li id="contact_nav">
		<a href="contact.html">Contact</a></li>
	    </ul>	
	  </nav>
	</div>  <!-- /span9 -->
      </div> <!-- /row -->
    </div> <!-- /container -->	
  </header> <!-- /header.main -->


 <div id="content">

<section class="main-page">
    <div class="container">
        <h2 class="page-title">Contact Us</h2>
        <section class="contact">
            <div class="row">
	              <div class="span12">
	                  <div class="google-map">
	                      <iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?ie=UTF8&amp;ll=51.46,-0.22&amp;spn=0.586458,1.275787&amp;t=m&amp;z=11&amp;output=embed"></iframe>
	                  </div>
	              </div>
	              <div class="span6">
	                  <div class="contact-info">
	                      <h4>Contact Information</h4>
	                      <p>For all enquiries please use the contact details below.</p>
	                  </div>
	                  <h4>Pracipio</h4>
	                  <address>
	                      <ul class="info">
	                          <li><strong>Address: </strong>4 Pentlow Street, London, SW15 1LX, United Kingdom</li>
	                          <li><strong>Email: </strong>felg@pracipio.com</li>
	                          <li><strong>Telephone: </strong>+44 7960 530 725</li>
	                      </ul>
	                  </address>
  	            </div>
            </div> <!-- /row -->	
        </section> <!-- /contact -->	
    </div> <!-- /container -->
</section> <!-- /section.main-page -->




</div>

	<footer class="footer-bottom">
		<nav class="container">
			<div class="navbar navbar-bottom navbar-inverse">
				<div class="navbar-inner">
					<div class="container">
						<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
						<!-- Be sure to leave the brand out there if you want it shown -->
						<a class="brand" href="#">Pracipio &copy; 2012 All rights reserved</a>
						<div class="nav-collapse pull-right">

							<ul class="nav">
								<li class="active">
								<a href="index.html">Welcome</a>
								</li>
								<!--li><a href="how_we_help">How we help</a></li>
								<li><a href="thoughtworthy">ThoughtWorthy</a></li>
								<li><a href="about">About Us</a></li-->
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div> <!-- /navbar -->	
			<div class="scroll-top">
				<a rel="tooltip" data-original-title="Back to top" class="websymbols">:</a>
			</div>
		</nav> <!-- /container -->	
	</footer> <!-- /footer.footer-bottom -->

	

	
 

</body>
</html>
